<ion-toolbar color="light">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/login"></ion-back-button>
  </ion-buttons>
</ion-toolbar>

<ion-content class="fondo">
  <ion-grid>
    <ion-row >
      <ion-col sizeMd="4" offsetMd="4">
          <ion-text color="primary" class="ion-text-center">
            <h1 color="primary">Genererar Qr</h1>
          </ion-text>
            <ion-card class="lacard">
              <ion-card-content>
                <ion-item class="ion-margin-vertical">
                  <ion-label position="floating">Documento:</ion-label>
                  <ion-input type="number" placeholder="Documento" [(ngModel)]="datos.documento"></ion-input>
                </ion-item>
                <ion-item class="ion-margin-vertical">
                  <ion-label position="floating">Nombre:</ion-label>
                  <ion-input type="text" placeholder="Nombre" [(ngModel)]="datos.nombre" ></ion-input>
                </ion-item>
                <ion-item class="ion-margin-vertical">
                  <ion-label position="floating">Apellido:</ion-label>
                  <ion-input type="text" placeholder="Apellido" [(ngModel)]="datos.apellido" ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">
                    Telefono:
                  </ion-label>
                  <ion-input type="number" placeholder="Telefono" [(ngModel)]="datos.telefono" ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Correo:</ion-label>
                  <ion-input type="email" placeholder="Correo" [(ngModel)]="datos.email" ></ion-input>
                </ion-item>
                <div class="ion-text-center">
                  <ion-button  color="primary" class="ion-margin-top"  mode="ios" (click)="create()">
                    Generar
                  </ion-button>
                </div>
                <div class="ion-text-center">
                  <ion-button  color="primary" class="ion-margin-top"  mode="ios" (click)="clear()">
                    Eliminar
                  </ion-button>
                </div>
              </ion-card-content>
            </ion-card>


          <ion-card *ngIf="createCode" class="lacard">
            <ngx-qrcode [value]="createCode"></ngx-qrcode>
            <ion-card-content>
            Your QR Code : {{createCode}}
            </ion-card-content>
          </ion-card>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
