<ion-toolbar color="light">
  <ion-row>
    <ion-col size="2">
      <ion-buttons>
        <ion-menu-button color="dark" menu="first"></ion-menu-button>
        <ion-button routerLink="/perfilgestor" expand="block" fill="clear" shape="round" color="dark">
          <h5>{{this.nombre}}</h5>
        </ion-button>
        <img [src]="this.url" class="lafoto">
      </ion-buttons>
    </ion-col>
    <ion-col size="9">
    </ion-col>
    <ion-col size="1">
      <button class="salida" (click)="salir()">
        <ion-icon name="log-out-outline" color="dark"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-toolbar>

<!-- <ion-content class="fondo">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-card class="lacard">
          <div>
            <div>
              <div style="display: block">
                <canvas baseChart
                  [data]="barChartData"
                  [options]="barChartOptions"
                  [plugins]="barChartPlugins"
                  [type]="barChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)">
                </canvas>
              </div>
              <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button>
            </div>
          </div>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content> -->
