<ion-toolbar color="light">
  <ion-row>
    <ion-col size="2">
      <ion-buttons>
        <ion-menu-button color="dark" menu="first"></ion-menu-button>
          <ion-button routerLink="/perfilseguridad" expand="block" fill="clear" shape="round" color="dark">
          <h5>{{this.nombre}}</h5>
        </ion-button>
        <img [src]="this.url" class="lafoto">
      </ion-buttons>
    </ion-col>
    <ion-col size="9">
    </ion-col>
    <ion-col size="1">
      <button class="salida" (click)="salir()">
        <ion-icon name="log-out-outline" color="dark"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-toolbar>

<ion-content class="fondo">
  <ion-row class="ion-text-center">
    <ion-col size="5"></ion-col>
    <ion-col size="12" size-sm="2">
      <ion-card class="lacard">
        <button (click)="addPhotoToGallery()">
          <ion-icon id="icono" name="camera" class="elicono"></ion-icon>
        </button>
      </ion-card>
    </ion-col>
    <ion-col size="9"> </ion-col>
  </ion-row>

  <ion-row>

    <ion-col size="12" size-md="3">
      <ion-card class="lacard">
        <ion-card-content>

          <ion-item class="ion-margin-vertical" >
            <h4>Nombre: {{this.name}}</h4>
          </ion-item>

          <ion-item class="ion-margin-vertical">
            <h4>Documento: {{this.documento}}</h4>
          </ion-item>

          <ion-item class="ion-margin-vertical">
            <h4>Correo: {{this.email}}</h4>
          </ion-item>

          <ion-item class="ion-margin-vertical">
            <h4>Teléfono: {{this.telefono}}</h4>
          </ion-item>

          <ion-item class="ion-margin-vertical">
            <h4>Rol: {{this.role}}</h4>
          </ion-item>

          <ion-item class="ion-margin-vertical">
            <h4>Coincidencia: {{this.coincidencia}}</h4>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="12" size-md="8">
      <!-- ORganiza la foto tomada en la pag -->
      <ion-grid>
        <ion-row>
          <ion-col size="12" *ngFor="let photo of photos; index as position">
            <ion-img class="imagen" [src]="photo.webviewPath"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>

</ion-content>
