
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>


<ion-content class="fondo">
  <ion-grid>
    <ion-row>
      <ion-col size-lg="3" size-md="4"></ion-col>
      <ion-col size="12" size-lg="6" size-md="8">
        <ion-card class="lacard">
          <ion-text  class="titulos">
            <h1>CAMBIO DE CONTRASEÑA</h1>
            </ion-text>
          <ion-card-content>
            <form [formGroup]="form" errorTailor>
              <ion-item class="form-group" lines="full">
                <ion-label position="floating">Correo</ion-label>
                <ion-input  class="form-control" formControlName="correo" type="email" placeholder="Correo"  [(ngModel)]="datos.email" errorTailor ></ion-input>
              </ion-item>
            </form>
              <ion-row>
                <h4>Se enviara un correo electrónico para continuar el cambio de contraseña</h4>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-button (click)="olvidar()" expand="block" type="submit" shape="round">Enviar Correo</ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-button routerLink="/cambiocontrasena" expand="block" type="submit" shape="round">continuar</ion-button>
                </ion-col>
              </ion-row>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
