<ion-toolbar color="light">
  <ion-row>
    <ion-col size="2">
      <ion-buttons>
        <ion-menu-button color="dark" menu="first"></ion-menu-button>
        <ion-button routerLink="/perfilaprendiz" expand="block" fill="clear" shape="round" color="dark">
          <h5>{{this.nombre}}</h5>
        </ion-button>
        <img [src]="this.url" class="lafoto">
      </ion-buttons>
    </ion-col>
    <ion-col size="9">
    </ion-col>
    <ion-col size="1">
      <button class="salida" (click)="salir()">
        <ion-icon name="log-out-outline" color="dark"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-toolbar>





<ion-content class="fondo">
  <ion-row>
    <ion-col size="3">
      </ion-col>
        <ion-col size="6">
          <ion-card class="lacard">

              <ion-item routerLink="/entrenmaquiaprendiz">
                <ion-icon name="camera"></ion-icon>
                <ion-label>Entrenamiento maquina</ion-label>
              </ion-item>

          </ion-card>
        </ion-col>
      <ion-col size="3">
    </ion-col>
  </ion-row>
</ion-content>
