<ion-menu side="start" menuId="primerMenu" contentId="my-content">
  <ion-header>
    <ion-toolbar >

    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>

      <ion-menu-toggle>
        <ion-item button lines="none" detail href="/login">

          <ion-icon name="person-circle-outline" size="large" slot="start"></ion-icon>
          <ion-label>
            Acceder
          </ion-label>

        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle routerLink="/register">

        <ion-item button lines="none" detail>
          <ion-icon name="person-add-sharp" size="large" slot="start"></ion-icon>
          <ion-label>
            Registro
          </ion-label>
        </ion-item>

      </ion-menu-toggle>

      <ion-menu-toggle routerLink="/generarqr">
        <ion-item button lines="none" detail>
          <ion-icon name="qr-code-sharp" size="large" slot="start"></ion-icon>
          <ion-label>
            Obtener QR
          </ion-label>
        </ion-item>
      </ion-menu-toggle>

    </ion-list>
  </ion-content>
</ion-menu>

<router-outlet id="my-content"></router-outlet>


